In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
train_csv = pd.read_csv("/content/data.csv")
test_csv = pd.read_csv("/content/output.csv")

In [ ]:
train_csv.head(3)

                  date      price  bedrooms  ...       city  statezip  country
0  2014-05-02 00:00:00   313000.0       3.0  ...  Shoreline  WA 98133      USA
1  2014-05-02 00:00:00  2384000.0       5.0  ...    Seattle  WA 98119      USA
2  2014-05-02 00:00:00   342000.0       3.0  ...       Kent  WA 98042      USA

[3 rows x 18 columns]

In [ ]:
train_csv["country"].value_counts()

USA    4600
Name: country, dtype: int64

test_csv.head(3)

In [ ]:
train_csv.isna().any().sum()

0

In [ ]:
test_csv.isna().any().sum()

0

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train_csv["city"] = le.fit_transform(train_csv["city"])
test_csv["city"] = le.fit_transform(test_csv["city"])
train_csv["statezip"] = le.fit_transform(train_csv["statezip"])
test_csv["statezip"] = le.fit_transform(test_csv["statezip"])
train_csv["country"] = le.fit_transform(train_csv["country"])
test_csv["country"] = le.fit_transform(test_csv["country"])

In [ ]:
train_csv.drop("street",axis = 1,inplace = True)
test_csv.drop("street",axis = 1,inplace = True)

In [ ]:
train_csv["country"].value_counts()

0    4600
Name: country, dtype: int64

In [ ]:
train_csv.drop("country",axis = 1,inplace = True)
test_csv.drop("country",axis = 1,inplace = True)

In [ ]:
train_csv.head(3)

                  date      price  bedrooms  ...  yr_renovated  city  statezip
0  2014-05-02 00:00:00   313000.0       3.0  ...          2005    36        62
1  2014-05-02 00:00:00  2384000.0       5.0  ...             0    35        58
2  2014-05-02 00:00:00   342000.0       3.0  ...             0    18        26

[3 rows x 16 columns]

In [ ]:
train_csv.shape

(4600, 16)

In [ ]:
test_csv.shape

(4600, 16)

In [ ]:
train_csv.drop("date",axis =1,inplace = True)
test_csv.drop("date",axis = 1,inplace = True)

In [ ]:
test_csv.head(3)

       price  bedrooms  bathrooms  ...  yr_renovated  city  statezip
0   313000.0       3.0        1.5  ...          2005    36        62
1  2384000.0       5.0        2.5  ...             0    35        58
2   342000.0       3.0        2.0  ...             0    18        26

[3 rows x 15 columns]

In [ ]:
train_csv.dtypes

price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
city               int64
statezip           int64
dtype: object

In [ ]:
test_csv.dtypes

price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
city               int64
statezip           int64
dtype: object

In [ ]:
train_csv.describe().T

                count           mean  ...        75%         max
price          4600.0  551962.988473  ...  654962.50  26590000.0
bedrooms       4600.0       3.400870  ...       4.00         9.0
bathrooms      4600.0       2.160815  ...       2.50         8.0
sqft_living    4600.0    2139.346957  ...    2620.00     13540.0
sqft_lot       4600.0   14852.516087  ...   11001.25   1074218.0
floors         4600.0       1.512065  ...       2.00         3.5
waterfront     4600.0       0.007174  ...       0.00         1.0
view           4600.0       0.240652  ...       0.00         4.0
condition      4600.0       3.451739  ...       4.00         5.0
sqft_above     4600.0    1827.265435  ...    2300.00      9410.0
sqft_basement  4600.0     312.081522  ...     610.00      4820.0
yr_built       4600.0    1970.786304  ...    1997.00      2014.0
yr_renovated   4600.0     808.608261  ...    1999.00      2014.0
city           4600.0      25.674348  ...      35.00        43.0
statezip       4600.0      38.743696  ...      56.00        76.0

[15 rows x 8 columns]

In [ ]:
train_csv.corr(method='pearson')

                  price  bedrooms  bathrooms  ...  yr_renovated      city  statezip
price          1.000000  0.200336   0.327110  ...     -0.028774  0.018625 -0.043385
bedrooms       0.200336  1.000000   0.545920  ...     -0.061082 -0.130447 -0.152773
bathrooms      0.327110  0.545920   1.000000  ...     -0.215886 -0.097026 -0.194497
sqft_living    0.430410  0.594884   0.761154  ...     -0.122817 -0.109686 -0.198918
sqft_lot       0.050451  0.068819   0.107837  ...     -0.022730 -0.079135 -0.128466
floors         0.151461  0.177895   0.486428  ...     -0.233996  0.078481 -0.038943
waterfront     0.135648 -0.003483   0.076232  ...      0.008625  0.001450  0.007938
view           0.228504  0.111028   0.211960  ...      0.022967  0.001340  0.079340
condition      0.034915  0.025080  -0.119994  ...     -0.186818 -0.010592  0.027666
sqft_above     0.367570  0.484705   0.689918  ...     -0.160426 -0.121701 -0.247666
sqft_basement  0.210427  0.334165   0.298020  ...      0.043125 -0.001559  0.047251
yr_built       0.021857  0.142461   0.463498  ...     -0.321342 -0.211110 -0.339494
yr_renovated  -0.028774 -0.061082  -0.215886  ...      1.000000  0.075637  0.161278
city           0.018625 -0.130447  -0.097026  ...      0.075637  1.000000  0.683512
statezip      -0.043385 -0.152773  -0.194497  ...      0.161278  0.683512  1.000000

[15 rows x 15 columns]

In [ ]:
def Outlier1(data):
    threshold=3
    for i in range(len(data.columns)):
        X=data.iloc[:,i]
        outlier=[]
        
        mean_data=np.mean(X)
        print(mean_data)
        std_data=np.std(X)
        print(std_data)
        for j in X:
            z_score=(j-mean_data)/std_data
            if np.abs(z_score)>threshold:
                outlier.append(j)
        for j in outlier:
            data=data[data[data.columns[i]]!=j]
    return data

In [ ]:
train = Outlier1(train_csv)

551962.9884732141
563773.4128352863
3.3931230836618482
0.9032651222313528
2.142888546933392
0.7544289169006052
2086.741906873614
860.8113382126629
14209.660854012967
34833.39375339168
1.5003405221339388
0.5373135955247358
0.004995458673932788
0.07050180186753939
0.18872660885440437
0.6767514246401717
3.4513170272812794
0.6756277567028062
1744.2359868111164
754.5176739398595
279.01760647156794
413.0985468352021
1970.367777511388
29.83124368523057
815.1970750419564
980.4826347651655
25.90218173099976
11.79313107605021
39.050347638456
20.79837462871394

In [ ]:
test = Outlier1(test_csv)

551962.9884732141
563773.4128352863
3.3931230836618482
0.9032651222313528
2.142888546933392
0.7544289169006052
2086.4935698447894
860.7426156535489
14209.660854012967
34833.39375339168
1.5003405221339388
0.5373135955247358
0.004995458673932788
0.07050180186753939
0.18872660885440437
0.6767514246401717
3.4513170272812794
0.6756277567028062
1744.2359868111164
754.5176739398595
279.01760647156794
413.0985468352021
1970.367777511388
29.83124368523057
815.1970750419564
980.4826347651655
25.90218173099976
11.79313107605021
39.050347638456
20.79837462871394

In [ ]:
train_csv.shape

(4600, 15)

In [ ]:
x_train = train_csv.iloc[:,1:]
y_train = train_csv.iloc[:,0]
x_test = test_csv.iloc[:,1:]
y_test = test_csv.iloc[:,0]

In [ ]:
train_csv.head(1)

      price  bedrooms  bathrooms  ...  yr_renovated  city  statezip
0  313000.0       3.0        1.5  ...          2005    36        62

[1 rows x 15 columns]

In [ ]:
from sklearn.feature_selection import VarianceThreshold
transform = VarianceThreshold(0)
x_train = transform.fit_transform(x_train)
print(x_train.shape)

(4600, 14)

In [ ]:
x_test = transform.fit_transform(x_test)

In [ ]:
x_test

array([[3.000e+00, 1.500e+00, 1.340e+03, ..., 2.005e+03, 3.600e+01,
        6.200e+01],
       [5.000e+00, 2.500e+00, 3.650e+03, ..., 0.000e+00, 3.500e+01,
        5.800e+01],
       [3.000e+00, 2.000e+00, 1.930e+03, ..., 0.000e+00, 1.800e+01,
        2.600e+01],
       ...,
       [3.000e+00, 2.500e+00, 3.010e+03, ..., 0.000e+00, 3.200e+01,
        3.700e+01],
       [4.000e+00, 2.000e+00, 2.090e+03, ..., 0.000e+00, 3.500e+01,
        7.100e+01],
       [3.000e+00, 2.500e+00, 1.490e+03, ..., 0.000e+00, 9.000e+00,
        2.600e+01]])

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
print(model.score(x_test, y_test))

0.22012513276775159

In [ ]:
x_train.shape

(4600, 14)

In [ ]:
x_test.shape

(4600, 14)

In [ ]:
y_test.shape

(4600,)

In [ ]:
###############3random forest regression 
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 42)
rf.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
predictions = rf.predict(x_test)
errors = abs(predictions - y_test)
mape = 100 * (errors / x_test)

ValueError: ignored

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
poly = PolynomialFeatures(degree=2)
X_train = poly.fit_transform(x_train)
x_test = poly.fit_transform(x_test)

clf = linear_model.LinearRegression()
clf.fit(X_train,)
print(clf.predict(X_test))

TypeError: ignored